<div class="user-profile mt-5">
  <div class="container">
    <div class="col-lg-6 mx-auto">
      <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white text-center">
          <h4 class="mb-0">{{ isEdit ? 'Edit' : 'Add' }} User</h4>
        </div>
        <div class="card-body p-4">
          <form [formGroup]="userForm" (ngSubmit)="save()">
            <div class="mb-3">
              <label for="name" class="form-label fw-semibold">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name"
                [ngClass]="handleValidators('name') ? 'is-invalid' : ''">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label fw-semibold">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email"
                [ngClass]="handleValidators('email') ? 'is-invalid' : ''">
            </div>
            <div class="mb-3">
              <label for="role" class="form-label fw-semibold">Role</label>
              <input type="text" class="form-control" id="role" placeholder="Enter Role" formControlName="role"
                [ngClass]="handleValidators('role') ? 'is-invalid' : ''">
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button class="btn btn-outline-secondary d-flex align-items-center" routerLink="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20px" fill="currentColor">
                  <path
                    d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
                </svg>
                <span class="ms-2">Back</span>
              </button>
              <button type="submit" class="btn btn-success d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20px" fill="white">
                  <path
                    d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-242.7c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32L64 32zm0 96c0-17.7 14.3-32 32-32l192 0c17.7 0 32 14.3 32 32l0 64c0 17.7-14.3 32-32 32L96 224c-17.7 0-32-14.3-32-32l0-64zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
                </svg>
                <span class="ms-2">Save</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
